.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.ClientsLoading {
  text-align: center;
  color: blue;
}

.ClientsError {
  text-align: center;
  color: red;
  font-weight: bold;
}
